@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-edge-left {
  width: 105%;
  height: 100%;
  aspect-ratio: 2/3;
  clip-path: ellipse(100% 160% at 100% 50%);
  background: linear-gradient(0deg, rgba(0,48,85,1) 0%, rgba(0,91,162,1) 35%, rgba(0,91,162,1) 65%, rgba(0,48,85,1) 100%);
}

.rounded-edge-top {
  height: 106%;
  width: 100%;
  aspect-ratio: 3/2;
  clip-path: ellipse(150% 100% at 50% 100%);
  background: linear-gradient(0deg, rgba(0,48,85,1) 0%, rgba(0,91,162,1) 35%, rgba(0,91,162,1) 65%, rgba(0,48,85,1) 100%);
}